body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 10px;
}

h2 {
  font-size: 18px;
  margin: 20px 0 0 0;
}

span,
p {
  font-size: 12px;
}